<div id= "post-title" class="bg-light">
  <h2 class="card-title p-2.5">
    <a href="/{{id}}">{{title}}</a>
    </h2>
</div>

<div id=" post-content" class="mb-2">
  <p class="card-text">{{content}}</p>
</div>

<div id="post-details" class="bg-dark d-flex justify-content-between p-3">
  <div class="left-details d-flex align-items-center">
    <p class="card-text"><b>Created By: {{user.username}}</b></p>
  </div>
  <div class="right-details">
    <p class="card-text"><b>Date created: {{format_date created_at}}</b></p>
  </div>
</div>